.git
.github
.idea
.vscode
.zed
node_modules
vendor
tests
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
database/*.sqlite
database/*.sqlite-shm
database/*.sqlite-wal
public/build
public/hot
.env
.env.*
docker-compose*.yml
